@charset "UTF-8";

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

bounce {
  0%, 20%, 50%, 80%, 100% {
  
    transform: translateY(0);
  }

  40% {

    transform: translateY(-30px);
  }

  60% {
   
    transform: translateY(-15px);
  }
}

 bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }

  40% {
    
    transform: translateY(-30px);
  }

  60% {
    
    transform: translateY(-15px);
  }
}

.bounce {
  
  animation-name: bounce;
    
  flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.flash {
 
  animation-name: flash;
}



 pulse {
  0% {
  
    transform: scale(1);
  }

  50% {
    
    transform: scale(1.1);
  }

  100% {
   
    transform: scale(1);
  }
}
 pulse {
  0% {
   
    transform: scale(1);
  }

  50% {
  
    transform: scale(1.1);
  }

  100% {
   
    transform: scale(1);
  }
}

.pulse {
  
  animation-name: pulse;
}

 rubberBand {
  0% {
    
    transform: scale(1);
  }

  30% {
    
    transform: scaleX(1.25) scaleY(0.75);
  }

  40% {
    
    transform: scaleX(0.75) scaleY(1.25);
  }

  60% {
    
    transform: scaleX(1.15) scaleY(0.85);
  }

  100% {
   
    transform: scale(1);
  }
}

 rubberBand {
  0% {
   
    transform: scale(1);
  }

  30% {
 
    transform: scaleX(1.25) scaleY(0.75);
  }

  40% {
  
    transform: scaleX(0.75) scaleY(1.25);
  }

  60% {
    
    transform: scaleX(1.15) scaleY(0.85);
  }

  100% {
  
    transform: scale(1);
  }
}

.rubberBand {
  
  animation-name: rubberBand;
}

 shake {
  0%, 100% {
    -
    transform: translateX(0);
  }

  10%, 30%, 50%, 70%, 90% {
    
    transform: translateX(-10px);
  }

  20%, 40%, 60%, 80% {

    transform: translateX(10px);
  }
}

 shake {
  0%, 100% {
   
    transform: translateX(0);
  }

  10%, 30%, 50%, 70%, 90% {
  
    transform: translateX(-10px);
  }

  20%, 40%, 60%, 80% {
    
    transform: translateX(10px);
  }
}

.shake {
  
  animation-name: shake;
}

swing {
  20% {
   
    transform: rotate(15deg);
  }

  40% {
 
    transform: rotate(-10deg);
  }

  60% {
    
    transform: rotate(5deg);
  }

  80% {
   
    transform: rotate(-5deg);
  }

  100% {
    
    transform: rotate(0deg);
  }
}

 swing {
  20% {
    
    transform: rotate(15deg);
  }

  40% {

    
    transform: rotate(-10deg);
  }

  60% {
    
    transform: rotate(5deg);
  }

  80% {

    transform: rotate(-5deg);
  }

  100% {
    
    transform: rotate(0deg);
  }
}

.swing {
 
  transform-origin: top center;
  
  animation-name: swing;
}

 tada {
  0% {
    
    transform: scale(1);
  }

  10%, 20% {
    
    transform: scale(0.9) rotate(-3deg);
  }

  30%, 50%, 70%, 90% {
    
    transform: scale(1.1) rotate(3deg);
  }

  40%, 60%, 80% {
    
    transform: scale(1.1) rotate(-3deg);
  }

  100% {
    
    transform: scale(1) rotate(0);
  }
}

 tada {
  0% {
    
    transform: scale(1);
  }

  10%, 20% {
   
    transform: scale(0.9) rotate(-3deg);
  }

  30%, 50%, 70%, 90% {
    
    transform: scale(1.1) rotate(3deg);
  }

  40%, 60%, 80% {
    
    transform: scale(1.1) rotate(-3deg);
  }

  100% {
    
    transform: scale(1) rotate(0);
  }
}

.tada {

  animation-name: tada;
}



wobble {
  0% {
    
    transform: translateX(0%);
  }

  15% {
    
    transform: translateX(-25%) rotate(-5deg);
  }

  30% {
    
    transform: translateX(20%) rotate(3deg);
  }

  45% {
    
    transform: translateX(-15%) rotate(-3deg);
  }

  60% {
    
    transform: translateX(10%) rotate(2deg);
  }

  75% {
   
    transform: translateX(-5%) rotate(-1deg);
  }

  100% {
   
    transform: translateX(0%);
  }
}

 wobble {
  0% {
   
    transform: translateX(0%);
  }

  15% {
    
    transform: translateX(-25%) rotate(-5deg);
  }

  30% {
   
    transform: translateX(20%) rotate(3deg);
  }

  45% {
    
    transform: translateX(-15%) rotate(-3deg);
  }

  60% {
    
    transform: translateX(10%) rotate(2deg);
  }

  75% {
  
    transform: translateX(-5%) rotate(-1deg);
  }

  100% {
    
    transform: translateX(0%);
  }
}

.wobble {
  
  animation-name: wobble;
}

 bounceIn {
  0% {
    opacity: 0;
    
    transform: scale(.3);
  }

  50% {
    opacity: 1;
    
    transform: scale(1.05);
  }

  70% {
    
    transform: scale(.9);
  }

  100% {
    opacity: 1;
    
    transform: scale(1);
  }
}

bounceIn {
  0% {
    opacity: 0;
    
    transform: scale(.3);
  }

  50% {
    opacity: 1;
   
    transform: scale(1.05);
  }

  70% {
    
    transform: scale(.9);
  }

  100% {
    opacity: 1;
   
    transform: scale(1);
  }
}

.bounceIn {
 
  animation-name: bounceIn;
}

 bounceInDown {
  0% {
    opacity: 0;
   
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    
    transform: translateY(30px);
  }

  80% {
   
    transform: translateY(-10px);
  }

  100% {
    
    transform: translateY(0);
  }
}

bounceInDown {
  0% {
    opacity: 0;
    
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
 
    transform: translateY(30px);
  }

  80% {
  
    transform: translateY(-10px);
  }

  100% {
    
    transform: translateY(0);
  }
}

.bounceInDown {
 
  animation-name: bounceInDown;
}

 bounceInLeft {
  0% {
    opacity: 0;
  
    transform: translateX(-2000px);
  }

  60% {
    opacity: 1;
    
    transform: translateX(30px);
  }

  80% {
    
    transform: translateX(-10px);
  }

  100% {
   
    transform: translateX(0);
  }
}

 bounceInLeft {
  0% {
    opacity: 0;
  
    transform: translateX(-2000px);
  }

  60% {
    opacity: 1;
    
    transform: translateX(30px);
  }

  80% {
   
    transform: translateX(-10px);
  }

  100% {
    
    transform: translateX(0);
  }
}

.bounceInLeft {
  
  animation-name: bounceInLeft;
}

 bounceInRight {
  0% {
    opacity: 0;
    
    transform: translateX(2000px);
  }

  60% {
    opacity: 1;
  
    transform: translateX(-30px);
  }

  80% {
    
    transform: translateX(10px);
  }

  100% {
   
    transform: translateX(0);
  }
}

 bounceInRight {
  0% {
    opacity: 0;
   
    transform: translateX(2000px);
  }

  60% {
    opacity: 1;

    transform: translateX(-30px);
  }

  80% {

    transform: translateX(10px);
  }

  100% {
    
    transform: translateX(0);
  }
}

.bounceInRight {
  
  animation-name: bounceInRight;
}

 bounceInUp {
  0% {
    opacity: 0;
    
    transform: translateY(2000px);
  }

  60% {
    opacity: 1;
    
    transform: translateY(-30px);
  }

  80% {
   
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

 bounceInUp {
  0% {
    opacity: 0;
   
    transform: translateY(2000px);
  }

  60% {
    opacity: 1;
    
    transform: translateY(-30px);
  }

  80% {
  
    transform: translateY(10px);
  }

  100% {
    
    transform: translateY(0);
  }
}

.bounceInUp {
 
  animation-name: bounceInUp;
}

 bounceOut {
  0% {
    
    transform: scale(1);
  }

  25% {
   
    transform: scale(.95);
  }

  50% {
    opacity: 1;
    
    transform: scale(1.1);
  }

  100% {
    opacity: 0;
   
    transform: scale(.3);
  }
}

bounceOut {
  0% {
    
    transform: scale(1);
  }

  25% {
   
    transform: scale(.95);
  }

  50% {
    opacity: 1;
    
    transform: scale(1.1);
  }

  100% {
    opacity: 0;
   
    transform: scale(.3);
  }
}

.bounceOut {
 
  animation-name: bounceOut;
}
 bounceOutDown {
  0% {
   
    transform: translateY(0);
  }

  20% {
    opacity: 1;
   
    transform: translateY(-20px);
  }

  100% {
    opacity: 0;
    
    transform: translateY(2000px);
  }
}

 bounceOutDown {
  0% {
    
    transform: translateY(0);
  }

  20% {
    opacity: 1;
 
    transform: translateY(-20px);
  }

  100% {
    opacity: 0;
    
    transform: translateY(2000px);
  }
}

.bounceOutDown {
  
  animation-name: bounceOutDown;
}
 bounceOutLeft {
  0% {
    
    transform: translateX(0);
  }

  20% {
    opacity: 1;
   
    transform: translateX(20px);
  }

  100% {
    opacity: 0;
    
    transform: translateX(-2000px);
  }
}

bounceOutLeft {
  0% {
    
    transform: translateX(0);
  }

  20% {
    opacity: 1;
   
    transform: translateX(20px);
  }

  100% {
    opacity: 0;
   
    transform: translateX(-2000px);
  }
}

.bounceOutLeft {
  
  animation-name: bounceOutLeft;
}

 bounceOutRight {
  0% {
  
    transform: translateX(0);
  }

  20% {
    opacity: 1;
    
    transform: translateX(-20px);
  }

  100% {
    opacity: 0;
    
    transform: translateX(2000px);
  }
}

bounceOutRight {
  0% {
    
    transform: translateX(0);
  }

  20% {
    opacity: 1;
    
    transform: translateX(-20px);
  }

  100% {
    opacity: 0;
    
    transform: translateX(2000px);
  }
}

.bounceOutRight {
  
  animation-name: bounceOutRight;
}

bounceOutUp {
  0% {
    
    transform: translateY(0);
  }

  20% {
    opacity: 1;
   
    transform: translateY(20px);
  }

  100% {
    opacity: 0;
    
    transform: translateY(-2000px);
  }
}

 bounceOutUp {
  0% {
   
    transform: translateY(0);
  }

  20% {
    opacity: 1;
   
    transform: translateY(20px);
  }

  100% {
    opacity: 0;
  
    transform: translateY(-2000px);
  }
}

.bounceOutUp {
 
  animation-name: bounceOutUp;
}

 fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
 fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  
  animation-name: fadeIn;
}

 fadeInDown {
  0% {
    opacity: 0;
  
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    
    transform: translateY(0);
  }
}

fadeInDown {
  0% {
    opacity: 0;
    
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
   
    transform: translateY(0);
  }
}

.fadeInDown {
 
  animation-name: fadeInDown;
}

 fadeInDownBig {
  0% {
    opacity: 0;
   
    transform: translateY(-2000px);
  }

  100% {
    opacity: 1;
    
    transform: translateY(0);
  }
}

 fadeInDownBig {
  0% {
    opacity: 0;
    
    transform: translateY(-2000px);
  }

  100% {
    opacity: 1;

    transform: translateY(0);
  }
}

.fadeInDownBig {
  
  animation-name: fadeInDownBig;
}

 fadeInLeft {
  0% {
    opacity: 0;
   
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    
    transform: translateX(0);
  }
}

 fadeInLeft {
  0% {
    opacity: 0;
    
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;

    transform: translateX(0);
  }
}

.fadeInLeft {

  animation-name: fadeInLeft;
}
 fadeInLeftBig {
  0% {
    opacity: 0;
    
    transform: translateX(-2000px);
  }

  100% {
    opacity: 1;
   
    transform: translateX(0);
  }
}

 fadeInLeftBig {
  0% {
    opacity: 0;
   
    transform: translateX(-2000px);
  }

  100% {
    opacity: 1;
   
    transform: translateX(0);
  }
}

.fadeInLeftBig {
  
  animation-name: fadeInLeftBig;
}

fadeInRight {
  0% {
    opacity: 0;
    
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
   
    transform: translateX(0);
  }
}

fadeInRight {
  0% {
    opacity: 0;
    
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    
    transform: translateX(0);
  }
}

.fadeInRight {
 
  animation-name: fadeInRight;
}

 fadeInRightBig {
  0% {
    opacity: 0;
   
    transform: translateX(2000px);
  }

  100% {
    opacity: 1;
   
    transform: translateX(0);
  }
}

 fadeInRightBig {
  0% {
    opacity: 0;
   
    transform: translateX(2000px);
  }

  100% {
    opacity: 1;
   
    transform: translateX(0);
  }
}

.fadeInRightBig {
 
  animation-name: fadeInRightBig;
}

fadeInUp {
  0% {
    opacity: 0;
    
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    
    transform: translateY(0);
  }
}

 fadeInUp {
  0% {
    opacity: 0;
    
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    
    transform: translateY(0);
  }
}

.fadeInUp {
 
  animation-name: fadeInUp;
}
 fadeInUpBig {
  0% {
    opacity: 0;
    
    transform: translateY(2000px);
  }

  100% {
    opacity: 1;
    
    transform: translateY(0);
  }
}

fadeInUpBig {
  0% {
    opacity: 0;
    
    transform: translateY(2000px);
  }

  100% {
    opacity: 1;
    
    transform: translateY(0);
  }
}

.fadeInUpBig {
  
  animation-name: fadeInUpBig;
}

 fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fadeOut {
  
  animation-name: fadeOut;
}

 fadeOutDown {
  0% {
    opacity: 1;
    
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    
    transform: translateY(20px);
  }
}

 fadeOutDown {
  0% {
    opacity: 1;
   
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    
    transform: translateY(20px);
  }
}

.fadeOutDown {
  
  animation-name: fadeOutDown;
}

 fadeOutDownBig {
  0% {
    opacity: 1;
   
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    
    transform: translateY(2000px);
  }
}

 fadeOutDownBig {
  0% {
    opacity: 1;
    
    transform: translateY(0);
  }

  100% {
    opacity: 0;
  
    transform: translateY(2000px);
  }
}

.fadeOutDownBig {
  
  animation-name: fadeOutDownBig;
}

 fadeOutLeft {
  0% {
    opacity: 1;
   
    transform: translateX(0);
  }

  100% {
    opacity: 0;
   
    transform: translateX(-20px);
  }
}

 fadeOutLeft {
  0% {
    opacity: 1;
    
    transform: translateX(0);
  }

  100% {
    opacity: 0;
   
    transform: translateX(-20px);
  }
}

.fadeOutLeft {
  
  animation-name: fadeOutLeft;
}

 fadeOutLeftBig {
  0% {
    opacity: 1;
   
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    
    transform: translateX(-2000px);
  }
}

fadeOutLeftBig {
  0% {
    opacity: 1;
    
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    
    transform: translateX(-2000px);
  }
}

.fadeOutLeftBig {
 
  animation-name: fadeOutLeftBig;
}

 fadeOutRight {
  0% {
    opacity: 1;
   
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    
    transform: translateX(20px);
  }
}

 fadeOutRight {
  0% {
    opacity: 1;
  
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    
    transform: translateX(20px);
  }
}

.fadeOutRight {
  
  animation-name: fadeOutRight;
}

 fadeOutRightBig {
  0% {
    opacity: 1;
   
    transform: translateX(0);
  }

  100% {
    opacity: 0;
   
    transform: translateX(2000px);
  }
}

fadeOutRightBig {
  0% {
    opacity: 1;
    
    transform: translateX(0);
  }

  100% {
    opacity: 0;
   
    transform: translateX(2000px);
  }
}

.fadeOutRightBig {
  
  animation-name: fadeOutRightBig;
}

 fadeOutUp {
  0% {
    opacity: 1;
   
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    
    transform: translateY(-20px);
  }
}

 fadeOutUp {
  0% {
    opacity: 1;
    
    transform: translateY(0);
  }

  100% {
    opacity: 0;
 
    transform: translateY(-20px);
  }
}

.fadeOutUp {
 
  animation-name: fadeOutUp;
}

fadeOutUpBig {
  0% {
    opacity: 1;
    
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    
    transform: translateY(-2000px);
  }
}

 fadeOutUpBig {
  0% {
    opacity: 1;
    
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    
    transform: translateY(-2000px);
  }
}

.fadeOutUpBig {
  
  animation-name: fadeOutUpBig;
}
 flip {
  0% {
    
    transform: perspective(400px) translateZ(0) rotateY(0) scale(1);
    
    animation-timing-function: ease-out;
  }

  40% {
   
    transform: perspective(400px) translateZ(150px) rotateY(170deg) scale(1);
  
    animation-timing-function: ease-out;
  }

  50% {
    
    transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
   
    animation-timing-function: ease-in;
  }

  80% {
    
    transform: perspective(400px) translateZ(0) rotateY(360deg) scale(.95);
    
    animation-timing-function: ease-in;
  }

  100% {
    
    transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
    
    animation-timing-function: ease-in;
  }
}

flip {
  0% {
  
    transform: perspective(400px) translateZ(0) rotateY(0) scale(1);
   
    animation-timing-function: ease-out;
  }

  40% {
   
    transform: perspective(400px) translateZ(150px) rotateY(170deg) scale(1);
    
    animation-timing-function: ease-out;
  }

  50% {
   
    transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
  
    animation-timing-function: ease-in;
  }

  80% {
    
    transform: perspective(400px) translateZ(0) rotateY(360deg) scale(.95);
   
    animation-timing-function: ease-in;
  }

  100% {

    transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
  
    animation-timing-function: ease-in;
  }
}

.animated.flip {
 
  backface-visibility: visible;
 
  animation-name: flip;
}

 flipInX {
  0% {
   
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }

  40% {
   
    transform: perspective(400px) rotateX(-10deg);
  }

  70% {
   
    transform: perspective(400px) rotateX(10deg);
  }

  100% {
    
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

 flipInX {
  0% {
  
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }

  40% {
   
    transform: perspective(400px) rotateX(-10deg);
  }

  70% {
    
    transform: perspective(400px) rotateX(10deg);
  }

  100% {
   
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

.flipInX {
  
  backface-visibility: visible !important;
  
  animation-name: flipInX;
}

flipInY {
  0% {
    
    transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }

  40% {
    
    transform: perspective(400px) rotateY(-10deg);
  }

  70% {
    
    transform: perspective(400px) rotateY(10deg);
  }

  100% {
  
    transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
}

flipInY {
  0% {
    
    transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }

  40% {
    
    transform: perspective(400px) rotateY(-10deg);
  }

  70% {
 
    transform: perspective(400px) rotateY(10deg);
  }

  100% {
    
    transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
}

.flipInY {
  
  backface-visibility: visible !important;
 
  animation-name: flipInY;
}

 flipOutX {
  0% {
    
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }

  100% {
   
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
}

 flipOutX {
  0% {
   
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }

  100% {
   
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
}

.flipOutX {

  animation-name: flipOutX;
  
  backface-visibility: visible !important;
}

 flipOutY {
  0% {
    
    transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }

  100% {
    
    transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
}

flipOutY {
  0% {

    transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }

  100% {
   
    transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
}

.flipOutY {

  backface-visibility: visible !important;

  animation-name: flipOutY;
}

lightSpeedIn {
  0% {
    
    transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }

  60% {
 
    transform: translateX(-20%) skewX(30deg);
    opacity: 1;
  }

  80% {
   
    transform: translateX(0%) skewX(-15deg);
    opacity: 1;
  }

  100% {
    
    transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
}

 lightSpeedIn {
  0% {
   
    transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }

  60% {
   
    transform: translateX(-20%) skewX(30deg);
    opacity: 1;
  }

  80% {
    
    transform: translateX(0%) skewX(-15deg);
    opacity: 1;
  }

  100% {
   
    transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
}

.lightSpeedIn {

  animation-name: lightSpeedIn;
  
  animation-timing-function: ease-out;
}

lightSpeedOut {
  0% {
    
    transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }

  100% {
   
    transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }
}
 lightSpeedOut {
  0% {
    
    transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }

  100% {
    
    transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }
}

.lightSpeedOut {
 
  animation-name: lightSpeedOut;
 
  animation-timing-function: ease-in;
}

rotateIn {
  0% {
   
    transform-origin: center center;
  
    transform: rotate(-200deg);
    opacity: 0;
  }

  100% {
    
    transform-origin: center center;
   
    transform: rotate(0);
    opacity: 1;
  }
}

 rotateIn {
  0% {
   
    transform-origin: center center;
   
    transform: rotate(-200deg);
    opacity: 0;
  }

  100% {
   
    transform-origin: center center;
  
    transform: rotate(0);
    opacity: 1;
  }
}

.rotateIn {
  
  animation-name: rotateIn;
}

 rotateInDownLeft {
  0% {
    
    transform-origin: left bottom;
    
    transform: rotate(-90deg);
    opacity: 0;
  }

  100% {
    
    transform-origin: left bottom;
    
    transform: rotate(0);
    opacity: 1;
  }
}
 rotateInDownLeft {
  0% {
   
    transform-origin: left bottom;
   
    transform: rotate(-90deg);
    opacity: 0;
  }

  100% {
   
    transform-origin: left bottom;
   
    transform: rotate(0);
    opacity: 1;
  }
}

.rotateInDownLeft {
  
  animation-name: rotateInDownLeft;
}

rotateInDownRight {
  0% {
    transform-origin: right bottom;
    
    transform: rotate(90deg);
    opacity: 0;
  }

  100% {
    
    transform-origin: right bottom;
    
    transform: rotate(0);
    opacity: 1;
  }
}

 rotateInDownRight {
  0% {
   
    transform-origin: right bottom;
   
    transform: rotate(90deg);
    opacity: 0;
  }

  100% {
 
    transform-origin: right bottom;
   
    transform: rotate(0);
    opacity: 1;
  }
}

.rotateInDownRight {

  animation-name: rotateInDownRight;
}

 rotateInUpLeft {
  0% {
   
    transform-origin: left bottom;
    
    transform: rotate(90deg);
    opacity: 0;
  }

  100% {
 
    transform-origin: left bottom;
    
    transform: rotate(0);
    opacity: 1;
  }
}

rotateInUpLeft {
  0% {
  
    transform-origin: left bottom;
   
    transform: rotate(90deg);
    opacity: 0;
  }

  100% {
   
    transform-origin: left bottom;
   
    transform: rotate(0);
    opacity: 1;
  }
}

.rotateInUpLeft {
  
  animation-name: rotateInUpLeft;
}

@-webkit-keyframes rotateInUpRight {
  0% {
 
    transform-origin: right bottom;
   
    transform: rotate(-90deg);
    opacity: 0;
  }

  100% {
    
    transform-origin: right bottom;
  
    transform: rotate(0);
    opacity: 1;
  }
}

rotateInUpRight {
  0% {
    
    transform-origin: right bottom;
   
    transform: rotate(-90deg);
    opacity: 0;
  }

  100% {
    
    transform-origin: right bottom;
    
    transform: rotate(0);
    opacity: 1;
  }
}

.rotateInUpRight {
  
  animation-name: rotateInUpRight;
}

rotateOut {
  0% {
    
    transform-origin: center center;
    
    transform: rotate(0);
    opacity: 1;
  }

  100% {
    
    transform-origin: center center;
    
    transform: rotate(200deg);
    opacity: 0;
  }
}

rotateOut {
  0% {
  
    transform-origin: center center;
   
    transform: rotate(0);
    opacity: 1;
  }

  100% {
  
    transform-origin: center center;
 
    transform: rotate(200deg);
    opacity: 0;
  }
}

.rotateOut {
  
  animation-name: rotateOut;
}

 rotateOutDownLeft {
  0% {
    
    transform-origin: left bottom;
    
    transform: rotate(0);
    opacity: 1;
  }

  100% {
    
    transform-origin: left bottom;
   
    transform: rotate(90deg);
    opacity: 0;
  }
}

rotateOutDownLeft {
  0% {
   
    transform-origin: left bottom;
    
    transform: rotate(0);
    opacity: 1;
  }

  100% {
    
    transform-origin: left bottom;
   
    transform: rotate(90deg);
    opacity: 0;
  }
}

.rotateOutDownLeft {
  
  animation-name: rotateOutDownLeft;
}

 rotateOutDownRight {
  0% {
  
    transform-origin: right bottom;
    
    transform: rotate(0);
    opacity: 1;
  }

  100% {
   
    transform-origin: right bottom;
  
    transform: rotate(-90deg);
    opacity: 0;
  }
}

 rotateOutDownRight {
  0% {
    
    transform-origin: right bottom;
    
    transform: rotate(0);
    opacity: 1;
  }

  100% {
   
    transform-origin: right bottom;
   
    transform: rotate(-90deg);
    opacity: 0;
  }
}

.rotateOutDownRight {

  animation-name: rotateOutDownRight;
}

 rotateOutUpLeft {
  0% {
    
    transform-origin: left bottom;
    
    transform: rotate(0);
    opacity: 1;
  }

  100% {
  
    transform-origin: left bottom;
    
    transform: rotate(-90deg);
    opacity: 0;
  }
}

 rotateOutUpLeft {
  0% {
 
    transform-origin: left bottom;
 
    transform: rotate(0);
    opacity: 1;
  }

  100% {
  
    transform-origin: left bottom;
   
    transform: rotate(-90deg);
    opacity: 0;
  }
}

.rotateOutUpLeft {

  animation-name: rotateOutUpLeft;
}

 rotateOutUpRight {
  0% {
    
    transform-origin: right bottom;
    
    transform: rotate(0);
    opacity: 1;
  }

  100% {
   
    transform-origin: right bottom;
    
    transform: rotate(90deg);
    opacity: 0;
  }
}

 rotateOutUpRight {
  0% {
   
    transform-origin: right bottom;
    
    transform: rotate(0);
    opacity: 1;
  }

  100% {
   
    transform-origin: right bottom;

    transform: rotate(90deg);
    opacity: 0;
  }
}

.rotateOutUpRight {
 
  animation-name: rotateOutUpRight;
}

 slideInDown {
  0% {
    opacity: 0;
  
    transform: translateY(-2000px);
  }

  100% {
    
    transform: translateY(0);
  }
}

 slideInDown {
  0% {
    opacity: 0;
  
    transform: translateY(-2000px);
  }

  100% {
   
    transform: translateY(0);
  }
}

.slideInDown {
  
  animation-name: slideInDown;
}

 slideInLeft {
  0% {
    opacity: 0;
    
    transform: translateX(-2000px);
  }

  100% {
    
    transform: translateX(0);
  }
}

slideInLeft {
  0% {
    opacity: 0;
    
    transform: translateX(-2000px);
  }

  100% {
   
    transform: translateX(0);
  }
}

.slideInLeft {

  animation-name: slideInLeft;
}

 slideInRight {
  0% {
    opacity: 0;
    
    transform: translateX(2000px);
  }

  100% {
    
    transform: translateX(0);
  }
}

 slideInRight {
  0% {
    opacity: 0;
   
    transform: translateX(2000px);
  }

  100% {
   
    transform: translateX(0);
  }
}

.slideInRight {
 
  animation-name: slideInRight;
}

 slideOutLeft {
  0% {
   
    transform: translateX(0);
  }

  100% {
    opacity: 0;
   
    transform: translateX(-2000px);
  }
}

 slideOutLeft {
  0% {
    
    transform: translateX(0);
  }

  100% {
    opacity: 0;
 
    transform: translateX(-2000px);
  }
}

.slideOutLeft {
  
  animation-name: slideOutLeft;
}
 slideOutRight {
  0% {
   
    transform: translateX(0);
  }

  100% {
    opacity: 0;
   
    transform: translateX(2000px);
  }
}

slideOutRight {
  0% {
 
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    
    transform: translateX(2000px);
  }
}

.slideOutRight {
  
  animation-name: slideOutRight;
}

 slideOutUp {
  0% {
    
    transform: translateY(0);
  }

  100% {
    opacity: 0;
 
    transform: translateY(-2000px);
  }
}

 slideOutUp {
  0% {
    
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    
    transform: translateY(-2000px);
  }
}

.slideOutUp {

  animation-name: slideOutUp;
}

slideInUp {
  0% {
    opacity: 0;
    
    transform: translateY(2000px);
  }

  100% {
    opacity: 1;
   
    transform: translateY(0);
  }
}

slideInUp {
  0% {
    opacity: 0;
    
    transform: translateY(2000px);
  }

  100% {
    opacity: 1;
   
    transform: translateY(0);
  }
}

.slideInUp {
  
  animation-name: slideInUp;
}

 slideOutDown {
  0% {
    
    transform: translateY(0);
  }

  100% {
    opacity: 0;
   
    transform: translateY(2000px);
  }
}

 slideOutDown {
  0% {
    
    transform: translateY(0);
  }

  100% {
    opacity: 0;
   
    transform: translateY(2000px);
  }
}

.slideOutDown {
 
  animation-name: slideOutDown;
}

 hinge {
  0% {
    
    transform: rotate(0);
    
    transform-origin: top left;
    
    animation-timing-function: ease-in-out;
  }

  20%, 60% {
   
    transform: rotate(80deg);
 
    transform-origin: top left;
 
    animation-timing-function: ease-in-out;
  }

  40% {

    transform: rotate(60deg);
  
    transform-origin: top left;
    
    animation-timing-function: ease-in-out;
  }

  80% {

    transform: rotate(60deg) translateY(0);
   
    transform-origin: top left;
   
    animation-timing-function: ease-in-out;
    opacity: 1;
  }

  100% {
   
    transform: translateY(700px);
    opacity: 0;
  }
}

 hinge {
  0% {
  
    transform: rotate(0);
    
    transform-origin: top left;
    
    animation-timing-function: ease-in-out;
  }

  20%, 60% {
    
    transform: rotate(80deg);
  
    transform-origin: top left;
    
    animation-timing-function: ease-in-out;
  }

  40% {
  
    transform: rotate(60deg);
    
    transform-origin: top left;
   
    animation-timing-function: ease-in-out;
  }

  80% {
   
    transform: rotate(60deg) translateY(0);
  
    transform-origin: top left;
   
    animation-timing-function: ease-in-out;
    opacity: 1;
  }

  100% {
    
    transform: translateY(700px);
    opacity: 0;
  }
}

.hinge {
 
  animation-name: hinge;
}



 rollIn {
  0% {
    opacity: 0;
  
    transform: translateX(-100%) rotate(-120deg);
  }

  100% {
    opacity: 1;
  
    transform: translateX(0px) rotate(0deg);
  }
}

rollIn {
  0% {
    opacity: 0;
  
    transform: translateX(-100%) rotate(-120deg);
  }

  100% {
    opacity: 1;
  
    transform: translateX(0px) rotate(0deg);
  }
}

.rollIn {
  
  animation-name: rollIn;
}



 rollOut {
  0% {
    opacity: 1;
    
    transform: translateX(0px) rotate(0deg);
  }

  100% {
    opacity: 0;
    
    transform: translateX(100%) rotate(120deg);
  }
}

 rollOut {
  0% {
    opacity: 1;
 
    transform: translateX(0px) rotate(0deg);
  }

  100% {
    opacity: 0;

    transform: translateX(100%) rotate(120deg);
  }
}

.rollOut {
  
  animation-name: rollOut;
}

 zoomIn {
  0% {
    opacity: 0;
   
    transform: scale(.3);
  }

  50% {
    opacity: 1;
  }
}

zoomIn {
  0% {
    opacity: 0;
    
    transform: scale(.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  
  animation-name: zoomIn;
}

zoomInDown {
  0% {
    opacity: 0;
   
    transform: scale(.1) translateY(-2000px);
    
    animation-timing-function: ease-in-out;
  }

  60% {
    opacity: 1;
    
    transform: scale(.475) translateY(60px);
    
    animation-timing-function: ease-out;
  }
}

 zoomInDown {
  0% {
    opacity: 0;
   
    transform: scale(.1) translateY(-2000px);
  
    animation-timing-function: ease-in-out;
  }

  60% {
    opacity: 1;

    transform: scale(.475) translateY(60px);
  
    animation-timing-function: ease-out;
  }
}

.zoomInDown {
 
  animation-name: zoomInDown;
}

 zoomInLeft {
  0% {
    opacity: 0;
   
    transform: scale(.1) translateX(-2000px);
   
    animation-timing-function: ease-in-out;
  }

  60% {
    opacity: 1;
   
    transform: scale(.475) translateX(48px);
  
    animation-timing-function: ease-out;
  }
}

 zoomInLeft {
  0% {
    opacity: 0;
    
    transform: scale(.1) translateX(-2000px);
   
    animation-timing-function: ease-in-out;
  }

  60% {
    opacity: 1;
  
    transform: scale(.475) translateX(48px);
 
    animation-timing-function: ease-out;
  }
}

.zoomInLeft {
 
  animation-name: zoomInLeft;
}

 zoomInRight {
  0% {
    opacity: 0;
    
    transform: scale(.1) translateX(2000px);
 
    animation-timing-function: ease-in-out;
  }

  60% {
    opacity: 1;
    
    transform: scale(.475) translateX(-48px);
   
    animation-timing-function: ease-out;
  }
}

zoomInRight {
  0% {
    opacity: 0;
   
    transform: scale(.1) translateX(2000px);
   
    animation-timing-function: ease-in-out;
  }

  60% {
    opacity: 1;
    
    transform: scale(.475) translateX(-48px);
  
    animation-timing-function: ease-out;
  }
}

.zoomInRight {
  
  animation-name: zoomInRight;
}

 zoomInUp {
  0% {
    opacity: 0;
   
    transform: scale(.1) translateY(2000px);
   
    animation-timing-function: ease-in-out;
  }

  60% {
    opacity: 1;
   
    transform: scale(.475) translateY(-60px);
    
    animation-timing-function: ease-out;
  }
}

zoomInUp {
  0% {
    opacity: 0;
  
    transform: scale(.1) translateY(2000px);
    
    animation-timing-function: ease-in-out;
  }

  60% {
    opacity: 1;
  
    transform: scale(.475) translateY(-60px);
  
    animation-timing-function: ease-out;
  }
}

.zoomInUp {
 
  animation-name: zoomInUp;
}

zoomOut {
  0% {
    opacity: 1;
    
    transform: scale(1);
  }

  50% {
    opacity: 0;
    
    transform: scale(.3);
  }

  100% {
    opacity: 0;
  }
}

 zoomOut {
  0% {
    opacity: 1;
   
    transform: scale(1);
  }

  50% {
    opacity: 0;
    
    transform: scale(.3);
  }

  100% {
    opacity: 0;
  }
}

.zoomOut {
 
  animation-name: zoomOut;
}
 zoomOutDown {
  40% {
    opacity: 1;
    
    transform: scale(.475) translateY(-60px);
    
    animation-timing-function: linear;
  }

  100% {
    opacity: 0;
   
    transform: scale(.1) translateY(2000px);
    
    transform-origin: center bottom;
  }
}

zoomOutDown {
  40% {
    opacity: 1;
    
    transform: scale(.475) translateY(-60px);
    
    animation-timing-function: linear;
  }

  100% {
    opacity: 0;
  
    transform: scale(.1) translateY(2000px);

    transform-origin: center bottom;
  }
}

.zoomOutDown {

  animation-name: zoomOutDown;
}

 zoomOutLeft {
  40% {
    opacity: 1;
   
    transform: scale(.475) translateX(42px);
   
    animation-timing-function: linear;
  }

  100% {
    opacity: 0;
 
    transform: scale(.1) translateX(-2000px);
  
    transform-origin: left center;
  }
}

 zoomOutLeft {
  40% {
    opacity: 1;
    
    transform: scale(.475) translateX(42px);
  
    animation-timing-function: linear;
  }

  100% {
    opacity: 0;
    
    transform: scale(.1) translateX(-2000px);
    
    transform-origin: left center;
  }
}

.zoomOutLeft {
  
  animation-name: zoomOutLeft;
}

zoomOutRight {
  40% {
    opacity: 1;
    
    transform: scale(.475) translateX(-42px);
    
    animation-timing-function: linear;
  }

  100% {
    opacity: 0;
   
    transform: scale(.1) translateX(2000px);
    
    transform-origin: right center;
  }
}

zoomOutRight {
  40% {
    opacity: 1;
   
    transform: scale(.475) translateX(-42px);
 
    animation-timing-function: linear;
  }

  100% {
    opacity: 0;
   
    transform: scale(.1) translateX(2000px);
    
    transform-origin: right center;
  }
}

.zoomOutRight {
  
  animation-name: zoomOutRight;
}

zoomOutUp {
  40% {
    opacity: 1;
   
    transform: scale(.475) translateY(60px);
    
    animation-timing-function: linear;
  }

  100% {
    opacity: 0;
   
    transform: scale(.1) translateY(-2000px);
    
    transform-origin: center top;
  }
}
 zoomOutUp {
  40% {
    opacity: 1;
    
    transform: scale(.475) translateY(60px);
    
    animation-timing-function: linear;
  }

  100% {
    opacity: 0;
    
    transform: scale(.1) translateY(-2000px);
   
    transform-origin: center top;
  }
}

.zoomOutUp {
  
  animation-name: zoomOutUp;
}
